<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>924475930287-f50uh4e8jklek82ch7p3373hkkjdeqcl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.924475930287-f50uh4e8jklek82ch7p3373hkkjdeqcl</string>
	<key>API_KEY</key>
	<string>AIzaSyCR2ZnFA-mXgQUiHBR7T5yAlNCR_tLVZlU</string>
	<key>GCM_SENDER_ID</key>
	<string>924475930287</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hnApp</string>
	<key>PROJECT_ID</key>
	<string>hackernews-app-project</string>
	<key>STORAGE_BUCKET</key>
	<string>hackernews-app-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924475930287:ios:a5343dac4518e512ce465a</string>
</dict>
</plist>